.container{
    margin: auto;
    display: grid;
    grid-template-rows: 3fr 2fr 1fr;
    grid-template-columns: 1fr;
}
.title{
    text-align: center;
    border: 1px solid black;
    background-color: antiquewhite;
}
.author{
    text-align: center;
    font-size: 25px;
    border: 1px solid blue;
    background-color: aqua;
}
