body {
  background-image: url(canofspamimage.jpg);
  z-index: 1;
}

a:hover{
  color: red;
 }

.dropdown{
  background: rgb(30, 30, 128);
  height: 70px;
  width: 100%;
  top: 0;
  position: fixed;
  z-index: 2;
 }


 .menubar{
   color: rgb(233, 202, 116);
   display: inline-block;
   float: right;
    line-height: 30px;
    margin-top: 0;
    margin-right: 20px;
    margin-left: 20px;
    text-transform: uppercase;
    font-size: 20px;
   }

   .menubar_home{
    color:rgb(233, 202, 116);
    display: inline-block;
    float: right;
     line-height: 30px;
     margin-top: 0;
     margin-right: 90px;
     margin-left: 20px;
     text-transform: uppercase;
     font-size: 20px;

   }


.video-container{
    display: flex;
    justify-content: center;
  }

iframe{
  border: 20px solid rgb(233, 202, 116);
  border-radius: 25px;
}


 div.grid1 {
  display: grid;
border: 5px solid rgb(233,202,116);
border-radius: 25px;
padding-top: 10px;
padding-bottom: 10px;
padding-left: 10px;
padding-right: 10px;
margin-left: 70px;
margin-right: 70px;
margin-top: 50px;
  background-color: rgb(30,30,128);
}

.centered{
  text-align: center;
  font-family: 'Lora', serif;
  color:rgb(233,202,116);
}

h1.centered{
  font-size: 80px;
  margin-bottom: 20px;
  margin-top: 12px;
}

h3.centered{
  font-size: 40px;
  margin-top: 0%;
  margin-bottom: 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 20px;
}

ul.method_list{
  font-family: 'Lora', serif;
  color: rgb(233, 202, 116);
  margin-right: 50px;
  font-size: 20px;
}

ul.ingredients_list{
  font-family: 'Lora', serif;
  color: rgb(233, 202, 116);
  font-size: 20px;
  }


div.grid2 {
  display: grid;
border: 5px solid rgb(233, 202, 116);
border-radius: 25px;
padding-top: 10px;
padding-bottom: 10px;
padding-left: 10px;
padding-right: 10px;
margin-left: 70px;
box-shadow: 0 5px 15px grey;
box-sizing: border-box;
overflow: hidden;
  background-color: rgb(30, 30, 128);
  max-width: 300px;
}



h2.ingredients{
  font-family: 'Lora', serif;
  color: rgb(233, 202, 116);
  margin-left: 40px;
}


h2.method{
  font-family: 'Lora', serif;
  color: rgb(233, 202, 116);
  margin-left: 80px;
}



div.grid3 {
  display: grid;
border: 5px solid rgb(233, 202, 116);
border-radius: 25px;
padding-top: 10px;
padding-bottom: 10px;
padding-left: 10px;
padding-right: 10px;
margin-right: 70px;
  background-color: rgb(30, 30, 128);
}


a{
  font-family: 'Lora', serif;
  color: rgb(233, 202, 116)
}







    .checkbtn {
      color: #fff;
    font-size: 25px;
    cursor: pointer;
    float: right;
    line-height: 100px;
    margin-right: 40px;
    display: none;
    }

     #check{
        display: none;
       }

      @media (max-width: 952px){
           .response{
              font-size: 19    px;
              }

      @media (max-width: 858px){
             .checkbtn{
               display: block;
              }
